<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 <title>{% block title %}{% endblock %}</title>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <meta name="description" content="{% block description %}{% endblock %}" />
 <meta name="keywords" content="{% block keywords %}{% endblock %}" />
 <link rel="stylesheet" href="/style/subSilver.css" type="text/css" />
 <link rel="stylesheet" href="/style/thickbox.css" type="text/css" media="screen" />
 <script type="text/javascript" src="/style/jquery.js"></script>
 <script type="text/javascript" src="/style/thickbox.js"></script>
 <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
 <link href="rss.xml?n=20" rel="alternate" type="application/rss+xml" title="{{ forum.title }} - 20">
 <link href="rss.xml?n=30" rel="alternate" type="application/rss+xml" title="{{ forum.title }} - 30">
 <link href="rss.xml?n=50" rel="alternate" type="application/rss+xml" title="{{ forum.title }} - 50">
</head>
<body>
 <table width="100%" cellspacing="0" cellpadding="7" border="0" align="center">
  <tr>
   <td class="bodyline">
    <table width="100%" cellspacing="0" cellpadding="8" border="0" align="center">
     <tbody>
     <tr>
      <td>
       <img vspace="1" border="0" alt="logo" src="/images/logo.png"/>
      </td>
      <td width="100%" valign="middle" align="center">
       <span class="maintitle">{{ forum.title }}</span>
       <br/>
       <span class="gen">
       {{ forum.description }}
       <br/>
       <br/>
       </span>
       <table cellspacing="0" cellpadding="2" border="0">
       <tbody>
       <tr>
         <td valign="top" nowrap="nowrap" height="25" align="center">
          <span class="mainmenu"> 
          <img width="12" hspace="1" height="13" border="0" alt="My Profile" src="/images/icon_mini_profile.gif" />
          <a class="mainmenu" href="myProfile">
          My Profile</a>
          &nbsp;
          <img width="12" hspace="1" height="13" border="0" alt="Users" src="/images/icon_mini_members.gif" />
          <a class="mainmenu" href="viewUsers">
          Users</a>
          </span>
         </td>
       </tr>
       </tbody>
       </table>
      </td>
      <td nowrap="nowrap" align="center">
       <span class="gensmall">
        <img src="/avatar" alt="no avatar" /><br />
        <a href="myProfile"><b>{{ user}}</b></a> | <a href="{{ url }}">Sign out</a><br />
        {% if admin %}<a href="/?mode=admin" style="color: red;">Swith to Admin Mode</a> {% endif %}
       </span>
      </td>
     </tr>
     </tbody>
    </table>

    {% block path %}{% endblock %}
    {% block main %}{% endblock %}

     <br/>
     </div>
     <div align="center" style="background: #ffffff;">
     <span class="copyright"><br/>Small Forum on GAE. Template based on <a class="copyright" target="_blank" href="http://www.phpbb.com">phpBB</a>
      (subSilver style by <a class="copyright" target="_blank" href="http://www.subblue.com/">Tom Beddard</a>). Coded and template modified by <a class="copyright" target="_blank" href="mailto:log1[ at ]poczta.fm ">log1</a>
     </span>
   </div>
   </td> 
  </tr>
 </table>
 </body>
</html>
